<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/17.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Everything-as-a-Service (XaaS) is a cloud computing term for the extensive variety of services and applications emerging for users to access on-demand over the Internet as opposed to being utilized via on-premises means. It gives you the flexibility to customize your computing environments to craft the experiences desired, all on-demand.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>