<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/15.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Big Data Analytics has been there in the market for quite some time now. More and more businesses are adopting it to go beyond the traditional ways of data storage and processing.   
New trends such as X-Analytics are being used to find solutions to challenges, including climate change, disease prevention and wildlife protection. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>