<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/1.jpg' %}" scale="0" width="50%" height="60%">
<div>
  Artificial intelligence (AI) is the technology used for equipping computer systems with the ability to make decisions like humans. Being one of the trending technologies, when AI programs are fed to systems, the aim is to mimic human intelligence for performing complex tasks such as pattern recognition, speech recognition, weather forecast and medical diagnosis.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>