<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/2.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The IoT (Internet of Things) is a network of devices that are connected to each other. Their devices caninteract and share data with each other. These devices may be connected via WiFi, and they share data about their environments and how they are being used. These devices have a computer chip that facilitates this exchange.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>