<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/9.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Cognitive Computing technology integrates with certain concepts in Artificial Intelligence (AI), such as natural language processing (NLP), Machine Learning (ML), reasoning, speech recognition, etc., that help in improving human decision-making.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>