<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/19.jpg' %}" scale="0" width="50%" height="60%">
<div>
  Edge computing  is designed to help solve some of those problems as a way to bypass the latency caused by cloud computing and getting data to a datacenter for processing. It can exist “on the edge,” if you will, closer to where computing needs to happen. For this reason, edge computing can be used to process time-sensitive data in remote locations with limited or no connectivity to a centralized location. In those situations, edge computing can act like mini datacenters. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>