<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/10.jpg' %}" scale="0" width="50%" height="60%">
<div>
    VR is the technology by which you can immerse yourself in an environment that seems astonishingly realistic. It is the use of computer technology for creating a simulated environment. It is very popularly used for playing computer games. Unlike traditional games where you experience the gaming environment by viewing it on the screen, you are directly placed in the environment!
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>