<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Machine Learning (ML) is a set of algorithms that find and apply patterns to data. ML is a trending technology that discovers rules causing a problem by using the data and finds a solution to that problem.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>