<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/11.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Edge computing is the latest technology trend that is getting famous by the day. The technology is based on the philosophy of bringing computing power as close to the data source. This helps in reducing bandwidth and latency.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>