<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/13.jpg' %}" scale="0" width="50%" height="60%">
<div>
    DevSecOps is short for development, security and operations. Its objective is implementing security at the same scale and speed as development and operations and not just for the sake of it. With the wider adoption of Microservices, DevSecOps seems to find its way deeper into our DevOps market.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>