<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/6.jpg' %}" scale="0" width="50%" height="60%">
<div>
    5G is the Fifth Generation mobile broadband, beyond Long-term Evolution (LTE) mobile networks. It is a game-changer and a trending technology, that improves our network connections. Through this, we will get faster, stable, and secure connections. Hence, shortly, we will have 5G mobiles in our hands.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>