<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/14.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Tactile Virtual Reality combines the use of several types of technologies including sensors, advanced optics, etc. bundled into a single device that provides the capability to overlay augmented digital content into your real-time space. With the advancement of Tactile/Haptic technology, the touch barrier can now be scaled.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>