<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Technology/5.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Blockchain technology is an entirely new way of documenting data on the Internet. Sometimes, it is also referred to as the distributed ledger technology (DLT). The information recorded on Blockchain is distributed but not copied, and it can be in any form, such as ownership of something, someone’s identity, a transaction, etc.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>