<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/19.jpg' %}" scale="0" width="50%" height="60%">
<div>
  Mental Health America  is a national organization that serves people living with mental illness and promotes mental health “through advocacy, education, research, and services.” They seek to identify mental illnesses early and construct a plan of care that best supports the individual.
MHA distributes information and online tools and organizes events to build better understanding of mental illness identification and intervention when necessary, in addition to recommending policy changes that support mental health for all. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>