<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4CAF50;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/4.jpg' %}" scale="0" width="50%" height="60%"><br>
<div>
    On World Mental Health Day, 10 October, the World Health Organization will, for the first time ever, host a global online advocacy event on mental health. At this event—the Big Event for Mental Health—world leaders, mental health experts and celebrity guests will join WHO Director-General, Dr Tedros Adhanom Ghebreyesus, to tell the world what we can all do to improve our mental health and how we can help make sure that quality mental health care is available to everyone who needs it.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>