<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>

{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/3.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Leaders at all levels need to put mental health “on the table” — to talk about it, invite others to talk about it, and work actively to develop resources and plans for their employees. This is how to reduce mental health stigma while increasing the likelihood that your colleagues feel happier, more confident, and more productive.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>