<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/9.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Mental health disorders in children are generally defined as delays or disruptions in developing age-appropriate thinking, behaviors, social skills or regulation of emotions. These problems are distressing to children and disrupt their ability to function well at home, in school or in other social situations.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>