<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/5.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Be kind to your mind: preserving your mental health Aishwarya Baidar - April 29, 2021 A raging pandemic combined with a lockdown can greatly stress mental health. Reduce exposure to the news, eat and drink well, exercise, and seek help if necessary.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>