<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/2.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Mental health is the foundation for the well-being and effective functioning of individuals. It is more than the absence of a mental disorder; it is the ability to think, learn, and understand one's emotions and the reactions of others. Mental health is a state of balance, both within and with the environment.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>