<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/18.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Some of the most common mental health issues in the elderly and senior population include: Depression: Older adults have a heightened risk of depression, which makes this one of the most important issues in the field of geriatric mental health. Everybody feels sad sometimes. But depression is much more than that.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>