<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Myth: Mental health problems are a sign of weakness. Myth: When someone develops a mental health problem, they will have it for the rest of their lives. They will never recover. Fact: Mental health doesn’t stay the same. It goes up and down over the course of your life. Many factors can influence how you feel.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>