<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Mental_Health/6.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Mental health problems are uncommon. Even before the COVID-19 pandemic, the statement above was false. Today, the statement is further from the truth than it has, perhaps, ever been.
Panic attacks can be fatal. Panic attacks are incredibly unpleasant, involving a racing heartbeat and an overriding sense of fear. However, they cannot directly be fatal.
People with mental health conditions cannot work. An old but persistent myth is that people with mental health issues cannot hold down a job or be useful members of the workforce.
Mental health problems are a sign of weakness. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>