<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/5.jpg' %}" scale="0" width="50%" height="60%">
<div>
    MBBS ( Bachelor of Medicine and Bachelor of Surgery) is the most popular and designated degree of doctors. These are the two bachelor degrees in one domain as the Bachelor of Medicine and the Bachelor of Surgery. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>