<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/1.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Education is both the act of teaching knowledge to others and the act of receiving knowledge from someone else. Education also refers to the knowledge received through schooling or instruction and to the institution of teaching as a whole.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>