<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/10.jpg' %}" scale="0" width="50%" height="60%">
<div>
   Zoology is the branch of biology that studies all the animals in the animal kingdom, including the structure, embryology, evolution, classification, habits, and distribution of all animals, both living and extinct, and how they interact with their ecosystems.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>