<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Robotics is an interdisciplinary field that integrates computer science and engineering. Robotics involves design, construction, operation, and use of robots. The goal of robotics is to design machines that can help and assist humans.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>