<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/4.jpg' %}" scale="0" width="50%" height="60%">
<div>
    A graduate student is someone who has earned a bachelor’s degree and is pursuing additional education in a specific field. Graduate Degrees. More than 1,000 U.S. colleges and universities offer programs leading to a graduate degree in a wide range of fields. The two main graduate degrees in the United States are the master’s degree and the doctoral degree.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>