<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/12.jpg' %}" scale="0" width="50%" height="60%">
<div>
    English is a West Germanic language first spoken in early medieval England, which has become the leading language of international discourse in the 21st century. It is named after the Angles, one of the ancient Germanic peoples that migrated to the area of Great Britain that later took their name, England. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>