<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/3.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Books are essential materials for everyone. We get our knowledge from different kinds of books. We learn things through the use of books and with the aid of our teachers. It is through these materials that we are able to grasp what the things around us are.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>