<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Education/11.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Mathematics includes the study of such topics as quantity (number theory), structure (algebra), space (geometry), and change (analysis). It has no generally accepted definition. Mathematicians seek and use patterns to formulate new conjectures; they resolve the truth or falsity of such by mathematical proof.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>