<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/9.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Tara Sutaria (born 19 November 1995) is an Indian actress, singer and dancer who works in Hindi films and television. She started her television career as a child artist in 2010 with Disney India's Big Bada Boom and went on to star in the channel's sitcoms The Suite Life of Karan & Kabir (2012) and Oye Jassie (2013).
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>