<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/4.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Rani Mukerji (pronounced [raːni mʊkʰərdʒi]; born 21 March 1978) is an Indian actress who works in Hindi films. A recipient of multiple accolades, including seven Filmfare Awards, her roles have been cited in the media as a significant departure from previous screen portrayals of Indian women.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>