<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/11.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Sara Ali Khan (born 12 August 1995) is an Indian actress who works in Hindi -language films. Born into the Pataudi family, she is the daughter of actors Amrita Singh and Saif Ali Khan and the paternal granddaughter of Mansoor Ali Khan Pataudi and Sharmila Tagore.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>