<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/19.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Sonam Kapoor Ahuja ( born 9 June 1985) is an Indian actress who works in Hindi films. She has received a National Film Award and a Filmfare Award, and from 2012–2016, she appeared in Forbes India 's Celebrity 100 list based on her income and popularity.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>