<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/16.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Tabu is an Indian actress. She has mainly acted in Hindi films, though she has also starred in Telugu, Tamil, Malayalam, Marathi and Bengali-language films, as well as one American film. She has won the National Film Award for Best Actress twice, and holds the record for the most wins of Filmfare's Critics Award for Best Female Performer
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>