<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/2.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Madhuri Dixit Nene ( born 15 May 1967) is an Indian actress, dancer, film producer, television personality and musical artist.A prolific and highly influential actress in Hindi cinema,she has appeared in over 70 Bollywood films. She was one of the country's highest-paid actresses in the 1990s and early 2000s,and has featured seven times on Forbes India's Celebrity 100 list. She is the recipient of several accolades, which include six Filmfare Awards and four Screen Awards. In 2008, the Government of India awarded her with Padma Shri, the fourth highest civilian honour of the country.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>