<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/17.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Ranveer Singh Bhavnani ([rəɳˈʋiːr sɪŋ], born 6 July 1985) is an Indian actor who is known for his work in Hindi films. The recipient of several awards, including four Filmfare Awards, he is among the highest-paid Indian actors and has been featured in Forbes India ' s Celebrity 100 list since 2012.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>