<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/10.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Ananya Panday (born 30 October 1998) is an Indian actress who works in Hindi films. The daughter of actor Chunky Pandey.She ventured into acting in 2019 with leading roles in the films Student of the Year 2 and the comedy Pati Patni Aur Woh.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>