<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/3.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Alia Bhatt (born 15 March 1993) is an India-born British actress and singer who works in Hindi -language films. Her accolades include four Filmfare Awards. She has appeared in Forbes India 's Celebrity 100 list since 2014 and was featured by Forbes Asia in their 30 Under 30 list of 2017. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>