<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/18.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Deepika Padukone, born 5 January 1986 in Copenhagen, Denmark, is an Indian model & Actress. She is the daughter of former badminton Champion Prakash Padukone. Her mother tongue is Konkani. Deepika has a younger sister named Anisha.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>