<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Cinema/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Virat Kohli ( born 5 November 1988) is an Indian cricketer and the current captain of the India national team. A right-handed top-order batsman , Kohli is regarded as one of the best contemporary batsmen in the world.Anushka Sharma ( born 1 May 1988) is an Indian actress and film producer who works in Hindi films. One of the most popular and highest-paid actresses in India, she has received several awards, including a Filmfare Award. She has appeared in Forbes India's Celebrity 100 since 2012 and was featured by Forbes Asia in their 30 Under 30 list of 2018.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>