<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/11.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Cricket is a bat-and-ball game played between two teams of eleven players on a field at the centre of which is a 22-yard (20-metre) pitch with a wicket at each end, each comprising two bails balanced on three stumps.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>