<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Volleyball is a team sport in which two teams of six players are separated by a net. Each team tries to score points by grounding a ball on the other team's court under organized rules. It has been a part of the official program of the Summer Olympic Games since Tokyo 1964. Beach Volleyball was introduced to the programme at the Atlanta 1996. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>