<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/17.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Wrestling is a combat sport involving grappling-type techniques such as clinch fighting, throws and takedowns, joint locks, pins and other grappling holds. Wrestling comes in different types such as folkstyle, freestyle, Greco-Roman, catch, submission, judo, sambo and others.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>