<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/19.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Such a game shall be called a game of 'Fives' and game consists of 29 points . The game shall also be played by two players a side, one front and one back with Ball Badminton racket and woolen ball upon a court with half the width of the court laid in a game of 'Fives'.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>