<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/18.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Ball badminton is a sport native to India. It is a racket game, played with a yellow ball made of wool, on a court of fixed dimensions (12 by 24 metres) divided by a net. The game was played as early as 1856 by the royal family in Tanjore, the capital of Thanjavur district in Tamil Nadu, India
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>