<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/9.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Sports experiences help building positive self- esteem in children.Sports bring people together from all over the world, regardless of their nationality, religion, culture, or skin color.
    Teamwork and benefits of social interaction among children are best seen in sports.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>