<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/12.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Gaelic football is a team sport in which two teams consisting of 15 players each play on a grass pitch; they aim to kick or punch the ball into the opposing team’s goal (like in association football/soccer) or between two upright posts above the goals (like in rugby). Unlike rugby, Australian rules and American football, the ball used in Gaelic football is round, more like the ball used in association football.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>