<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/6.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Running is both a competition and a type of training for sports that have running or endurance components. As a sport, it is split into events divided by distance and sometimes includes permutations such as the obstacles in steeplechase and hurdles. Running races are contests to determine which of the competitors is able to run a certain distance in the shortest time.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>