<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/8.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Basketball is a team game played on a court. Each five-person team attempts to throw or dunk an inflated ball into the opponent's basket, which is mounted on a backboard that is ten feet above the floor. The International Basketball Federation (FIBA) is the recognized governing body for basketball world wide. Founded in 2002, FIBA aims to create a worldwide basketball network to achieve a sustainable continuous growth of the sport of basketball.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>