<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Sports/2.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Sports are defined as competitive or recreational activities that involve the use of physical skill, intelligence, and hand-eye coordination.Sports can, through casual or organized participation, improve one's physical health. 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>