<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/11.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The decennial Census of India has been conducted 15 times, as of 2011. While it has been undertaken every 10 years, beginning in 1872 under British Viceroy Lord Mayo, the first complete census was taken in 1881. Post 1949, it has been conducted by the Registrar General and Census Commissioner of India under the Ministry of Home Affairs, Government of India.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>