<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/14.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The National Aeronautics and Space Administration (NASA) is an independent agency of the U.S. federal government responsible for the civilian space program, as well as aeronautics and space research. NASA was established in 1958, succeeding the National Advisory Committee for Aeronautics (NACA). 
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>