<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Fox News, officially Fox News Channel, abbreviated FNC and commonly known as Fox, is an American multinational conservative cable news television channel based in New York City. It is owned by Fox News Media, which itself is owned by the Fox Corporation. The channel broadcasts primarily from studios at 1211 Avenue of the Americas in Midtown Manhattan.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>