<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/4.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The New York Times (N.Y.T. or N.Y. Times) is an American daily newspaper based in New York City with a worldwide readership. Founded in 1851, the Times has since won 130 Pulitzer Prizes (the most of any newspaper), and has long been regarded within the industry as a national "newspaper of record".
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>