<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/1.jpg' %}" scale="0" width="50%" height="60%">
<div>
    A news anchor, sometimes called a news analyst, presents stories on radio and television news broadcasts. Working for television and radio networks and local stations, they introduce reporters' videotaped and live reports, analyze and select stories, and interview guests. They sometimes broadcast from remote locations.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>