<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/2.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The Chicago Tribune reported the deal had Tronc paying $1 for the paper plus taking on “operational and pension liabilities.” “We are excited to welcome the New York Daily News team to the tronc family, and we look forward to working with them to serve new audiences and marketers while delivering value for our shareholders,” said Justin Dearborn, Tronc CEO, in a statement.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>