<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/13.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Tasmania 's Gordon Dam, one of the largest in Australia, was constructed in the 1970s. It has a catchment area of 1,280 km2 (494 sq mi). Dams and reservoirs in Australia is a link page for any dam or reservoir in Australia.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>