<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'News/19.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The Exclusive Hawaii is an eight-bed, holistic addiction treatment center located on The Big Island of Hawaii. We offer one of the most customized programs in the country, with 35 deeply-caring staff members collaborating with you to make an individualized treatment plan that will be the most healing for you.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>