<html>

<head>
    <title>
        News
    </title>
    <style>
        .grid-container {
          display: inline-grid;
          grid-template-columns: auto auto auto auto;
          background-color: #03213a;
          padding: 8px;
        }
        
        .grid-item {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 15px;
          font-size: 25px;
          text-align: center;
        }
        
        .heading {
        display: inline-grid;
            grid-template-columns: 30cm 5cm;
            padding: 8px;
        }
        .heading-content {
            padding: 15px;
            text-align: center;
        }
        .heading span {
            display:inline-block;
            font-weight:normal;
            font-size:.75em;
            padding: left 50px;
            text-align:right;
        }
        </style>

</head>
<body style="background-color:#ccd9cd;">
    <div class="heading">
        <div class="heading-content">
 <h2 >News </h2>
</div>
<div class="heading-content">
 <span>
<form method="POST">{% csrf_token %}
    <select name = "topic_id">
        <option value="News">News</option>
        <option value="Covid_Resources">Covid Resources</option>
        <option value="Cinema">Cinema</option>
        <option value="Sports">Sports</option>
        <option value="Education">Education</option>
        <option value="Mental_Health">Mental Health</option>
        <option value="Art">Art</option>
        <option value="Technology">Technology</option>
    </select>
<input type="submit"  value="View Details" />
    </form> 
</span> 
</div>
</div>   

 <!-- <a href="/view_project/News/News_1">News_1</a><br><br>
 <a href="/view_project/News/News_2">News_2</a><br><br>
 <a href="/view_project/News/News_3">News_3</a><br><br>
 <a href="/view_project/News/News_4">News_4</a><br><br>
 <a href="/view_project/News/News_5">News_5</a><br><br>
 <a href="/view_project/News/News_6">News_6</a><br><br>
 <a href="/view_project/News/News_7">News_7</a><br><br>
 <a href="/view_project/News/News_8">News_8</a><br><br>
 <a href="/view_project/News/News_9">News_9</a><br><br>
 <a href="/view_project/News/News_10">News_10</a><br><br>
 <a href="/view_project/News/News_11">News_11</a><br><br>
 <a href="/view_project/News/News__12">News_12</a><br><br>
 <a href="/view_project/News/News_13">News_13</a><br><br>
 <a href="/view_project/News/News_14">News_14</a><br><br>
 <a href="/view_project/News/News_15">News_15</a><br><br>
 <a href="/view_project/News/News_16">News_16</a><br><br>
 <a href="/view_project/News/News_17">News_17</a><br><br>
 <a href="/view_project/News/News_18">News_18</a><br><br>
 <a href="/view_project/News/News_19">News_19</a><br><br>

  -->
  {% load static %}
    <center>
 <div class="grid-container">
     
    <div class="grid-item">
        <a href="/view_project/News/News_1">
            <img alt="Qries" src="{% static 'News/1.jpg' %}"width="150" height="70"><br>News_1
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_2">
            <img alt="Qries" src="{% static 'News/2.jpg' %}"width="150" height="70"><br>News_2
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_3">
            <img alt="Qries" src="{% static 'News/3.jpg' %}"width="150" height="70"><br>News_3
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_4">
            <img alt="Qries" src="{% static 'News/4.jpg' %}"width="150" height="70"><br>News_4
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_5">
            <img alt="Qries" src="{% static 'News/5.jpg' %}"width="150" height="70"><br>News_5
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_6">
            <img alt="Qries" src="{% static 'News/6.jpg' %}"width="150" height="70"><br>News_6
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_7">
            <img alt="Qries" src="{% static 'News/7.jpg' %}"width="150" height="70"><br>News_7
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_8">
            <img alt="Qries" src="{% static 'News/8.jpg' %}"width="150" height="70"><br>News_8
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_9">
            <img alt="Qries" src="{% static 'News/9.jpg' %}"width="150" height="70"><br>News_9
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_10">
            <img alt="Qries" src="{% static 'News/10.jpg' %}"width="150" height="70"><br>News_10
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_11">
            <img alt="Qries" src="{% static 'News/11.jpg' %}"width="150" height="70"><br>News_11
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_12">
            <img alt="Qries" src="{% static 'News/12.jpg' %}"width="150" height="70"><br>News_12
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_13">
            <img alt="Qries" src="{% static 'News/13.jpg' %}"width="150" height="70"><br>News_13
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_1">
            <img alt="Qries" src="{% static 'News/14.jpg' %}"width="150" height="70"><br>News_14
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_14">
            <img alt="Qries" src="{% static 'News/15.jpg' %}"width="150" height="70"><br>News_15
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_15">
            <img alt="Qries" src="{% static 'News/16.jpg' %}"width="150" height="70"><br>News_16
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_16">
            <img alt="Qries" src="{% static 'News/17.jpg' %}"width="150" height="70"><br>News_17
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_17">
            <img alt="Qries" src="{% static 'News/18.jpg' %}"width="150" height="70"><br>News_18
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_18">
            <img alt="Qries" src="{% static 'News/19.jpg' %}"width="150" height="70"><br>News_19
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/News/News_19">
            <img alt="Qries" src="{% static 'News/20.jpg' %}"width="150" height="70"><br>News_20
        </a>
    </div>
  </div>
</center>

</body>
</html>