

<html>
 <h6>Covid_Resources</h6>   
               
 <a href="/view_project/Covid_Resources/CovidResources">CovidResources</a>
 <a href="/view_project/Covid_Resources/Covid_Resources">Covid_Resources</a>
 <a href="/view_project/Covid_Resources/Safety_Measures">Safety_Measures</a>
 <a href="/view_project/Covid_Resources/CommunityResources">CommunityResources</a>
 <a href="/view_project/Covid_Resources/Sanitation">Sanitation</a>
 <a href="/view_project/Covid_Resources/CovidVaccine">CovidVaccine</a>
 <a href="/view_project/Covid_Resources/Covid_Vaccine">Covid_Vaccine</a>
 <a href="/view_project/Covid_Resources/StayHome">StayHome</a>
 <a href="/view_project/Covid_Resources/SafetyInstructions">SafetyInstructions</a>
 <a href="/view_project/Covid_Resources/Safety_Instructions">Safety_Instructions</a>
 <a href="/view_project/Covid_Resources/TollNumber">TollNumber</a>
 <a href="/view_project/Covid_Resources/WhatsappHelp">WhatsappHelp</a>
 <a href="/view_project/Covid_Resources/VerifiedHelpline">VerifiedHelpline</a>
 <a href="/view_project/Covid_Resources/BedAvailability">BedAvailability</a>
 <a href="/view_project/Covid_Resources/HelpLine">HelpLine</a>
 <a href="/view_project/Covid_Resources/Treatment">Treatment</a>
 <a href="/view_project/Covid_Resources/DoctorProtection">DoctorProtection</a>
 <a href="/view_project/Covid_Resources/TeleConsultation">TeleConsultation</a>
 <a href="/view_project/Covid_Resources/ImmunityBooster">ImmunityBooster</a>
 <a href="/view_project/Covid_Resources/Immunity_Booster">Immunity_Booster</a>

</html>

