<html>

<head>
    <title>
        Sports
    </title>
    <style>
        .grid-container {
          display: inline-grid;
          grid-template-columns: auto auto auto auto;
          background-color: #03213a;
          padding: 8px;
        }
        
        .grid-item {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 15px;
          font-size: 25px;
          text-align: center;
        }
        
        .heading {
        display: inline-grid;
            grid-template-columns: 30cm 5cm;
            padding: 8px;
        }
        .heading-content {
            padding: 15px;
            text-align: center;
        }
        .heading span {
            display:inline-block;
            font-weight:normal;
            font-size:.75em;
            padding: left 50px;
            text-align:right;
        }
        </style>

</head>
<body style="background-color:#ccd9cd;">
    <div class="heading">
        <div class="heading-content">
 <h2 >Sports </h2>
</div>
<div class="heading-content">
 <span>
<form method="POST">{% csrf_token %}
    <select name = "topic_id">
        <option value="News">News</option>
        <option value="Covid_Resources">Covid Resources</option>
        <option value="Cinema">Cinema</option>
        <option value="Sports">Sports</option>
        <option value="Education">Education</option>
        <option value="Mental_Health">Mental Health</option>
        <option value="Art">Art</option>
        <option value="Technology">Technology</option>
    </select>
<input type="submit"  value="View Details" />
    </form> 
</span> 
</div>
</div>   

 <!-- <a href="/view_project/Sports/Sports_1">Sports_1</a><br><br>
 <a href="/view_project/Sports/Sports_2">Sports_2</a><br><br>
 <a href="/view_project/Sports/Sports_3">Sports_3</a><br><br>
 <a href="/view_project/Sports/Sports_4">Sports_4</a><br><br>
 <a href="/view_project/Sports/Sports_5">Sports_5</a><br><br>
 <a href="/view_project/Sports/Sports_6">Sports_6</a><br><br>
 <a href="/view_project/Sports/Sports_7">Sports_7</a><br><br>
 <a href="/view_project/Sports/Sports_8">Sports_8</a><br><br>
 <a href="/view_project/Sports/Sports_9">Sports_9</a><br><br>
 <a href="/view_project/Sports/Sports_10">Sports_10</a><br><br>
 <a href="/view_project/Sports/Sports_11">Sports_11</a><br><br>
 <a href="/view_project/Sports/Sports_12">Sports_12</a><br><br>
 <a href="/view_project/Sports/Sports_13">Sports_13</a><br><br>
 <a href="/view_project/Sports/Sports_14">Sports_14</a><br><br>
 <a href="/view_project/Sports/Sports_15">Sports_15</a><br><br>
 <a href="/view_project/Sports/Sports_16">Sports_16</a><br><br>
 <a href="/view_project/Sports/Sports_17">Sports_17</a><br><br>
 <a href="/view_project/Sports/Sports_18">Sports_18</a><br><br>
 <a href="/view_project/Sports/Sports_19">Sports_19</a><br><br> -->
 {% load static %}
    <center>
 <div class="grid-container">
     
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_1">
            <img alt="Qries" src="{% static 'Sports/1.jpg' %}"width="150" height="70"><br>Sports_1
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_2">
            <img alt="Qries" src="{% static 'Sports/2.jpg' %}"width="150" height="70"><br>Sports_2
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_3">
            <img alt="Qries" src="{% static 'Sports/3.jpg' %}"width="150" height="70"><br>Sports_3
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_4">
            <img alt="Qries" src="{% static 'Sports/4.jpg' %}"width="150" height="70"><br>Sports_4
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_5">
            <img alt="Qries" src="{% static 'Sports/5.jpg' %}"width="150" height="70"><br>Sports_5
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_6">
            <img alt="Qries" src="{% static 'Sports/6.jpg' %}"width="150" height="70"><br>Sports_6
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_7">
            <img alt="Qries" src="{% static 'Sports/7.jpg' %}"width="150" height="70"><br>Sports_7
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_8">
            <img alt="Qries" src="{% static 'Sports/8.jpg' %}"width="150" height="70"><br>Sports_8
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_9">
            <img alt="Qries" src="{% static 'Sports/9.jpg' %}"width="150" height="70"><br>Sports_9
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_10">
            <img alt="Qries" src="{% static 'Sports/10.jpg' %}"width="150" height="70"><br>Sports_10
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_11">
            <img alt="Qries" src="{% static 'Sports/11.jpg' %}"width="150" height="70"><br>Sports_11
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_12">
            <img alt="Qries" src="{% static 'Sports/12.jpg' %}"width="150" height="70"><br>Sports_12
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_13">
            <img alt="Qries" src="{% static 'Sports/13.jpg' %}"width="150" height="70"><br>Sports_13
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_14">
            <img alt="Qries" src="{% static 'Sports/14.jpg' %}"width="150" height="70"><br>Sports_14
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_15">
            <img alt="Qries" src="{% static 'Sports/15.jpg' %}"width="150" height="70"><br>Sports_15
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_16">
            <img alt="Qries" src="{% static 'Sports/16.jpg' %}"width="150" height="70"><br>Sports_16
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_17">
            <img alt="Qries" src="{% static 'Sports/17.jpg' %}"width="150" height="70"><br>Sports_17
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_18">
            <img alt="Qries" src="{% static 'Sports/18.jpg' %}"width="150" height="70"><br>Sports_18
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_19">
            <img alt="Qries" src="{% static 'Sports/19.jpg' %}"width="150" height="70"><br>Sports_19
        </a>
    </div>
    <div class="grid-item">
        <a href="/view_project/Sports/Sports_20">
            <img alt="Qries" src="{% static 'Sports/20.jpg' %}"width="150" height="70"><br>Sports_20
        </a>
    </div>
  </div>
</center>

</body>
</html>
 
</html>



