<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/13.jpg' %}" scale="0" width="50%" height="60%">
<div>
    If you have symptoms, call the govt. helpline number: 011-2397 8046 (Toll-Free: 1075). The helpline service will note down your contact details and will contact you with the testing protocols of #COVID19.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>