
<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/9.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Safe and healthy living conditions. Measures applying to all people. Persons vaccinated and/or recovered from Covid-19*. Face mask. - A face mask must be used by everyone from the age of 7 in premises outside their household whenever there is more than one person in the room. - A homemade mask should be made of at least three layers of suitable material (cotton, nylon, etc.) and have ties to secure it behind the ears or behind the head.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>

