<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/8.jpg' %}" scale="0" width="50%" height="60%">
<div>
    COVID-19 transmission and protective measures. COVID-19 spreads primarily from person to person. Fighting this disease is our joint responsibility. Protect yourself and others by making these 6 simple precautions your new habits: Clean your hands often. Cough or sneeze in your bent elbow - not your hands! Avoid touching your eyes, nose and mouth.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>