<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/3.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Avoiding close contact with sick individuals; frequently washing hands with soap and water; not touching the eyes, nose, or mouth with unwashed hands; and practicing good respiratory hygiene
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>