<html>
<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/1.jpg' %}" scale="0" width="50%" height="60%">
<div>
    A COVID‑19 vaccine is a vaccine intended to provide acquired immunity against severe acute respiratory syndrome coronavirus 2 (SARS‑CoV‑2), the virus causing coronavirus disease 2019 (COVID‑19).
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>
</html"