<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/18.jpg' %}" scale="0" width="50%" height="60%">
<div>
    KonsultaMD is a teleconsultation platform that goes beyond COVID-19 concerns. Plans include unlimited voice consultations, e-prescriptions, and e-lab requests, among others. The service is 24/7.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>