<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/20.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Stay Hydrated. Drink up to 8-10 glasses of water every day, to stay hydrated. Hydration will help flush out the toxins from the body and lower the chances of flu.
Don’t Skip on Exercise. A good diet should be followed by an exercise routine.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>