<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/16.jpg' %}" scale="0" width="50%" height="60%">
<div>
    In October 2020, the FDA approved the antiviral drug remdesivir to treat COVID-19. The drug may be used to treat adults and children ages 12 and older and weighing at least 88 pounds, who have been hospitalized for COVID-19. Clinical trials suggest that in these patients, remdesivir may modestly speed up recovery time.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>