<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/12.jpg' %}" scale="0" width="50%" height="60%">
<div>
    How WhatsApp can help you stay connected during the coronavirus (COVID-19) pandemic. WhatsApp helps you connect with those who matter most. Here are some of the ways you can use WhatsApp to look after friends and family, stay up to date with the latest official health information, and share information responsibly.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>