<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/4.jpg' %}" scale="0" width="50%" height="60%">
<div>
    NIH CommunityEngagement Alliance (CEAL) NIH Community. Engagement Alliance (CEAL) The Community Engagement Alliance (CEAL) Against COVID-19 Disparities works closely with the communities hit hardest by COVID-19. Find FAQs, fact sheets, and other resources you can share to provide accurate information and encourage people to get informed and take steps to overcome COVID-19.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>