<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/11.jpg' %}" scale="0" width="50%" height="60%">
<div>
    COVID-19 deaths are identified using a new ICD–10 code. When COVID-19 is reported as a cause of death – or when it is listed as a “probable” or “presumed” cause — the death is coded as U07.1. This can include cases with or without laboratory confirmation.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>