<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Safely managed water, sanitation, and hygiene (WASH) services are an essential part of preventing and protecting human health during infectious disease outbreaks, including the current COVID-19 pandemic.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>