<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Covid_Resources/6.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The first mass vaccination programme started in early December 2020 and the number of vaccination doses administered is updated on a daily basis here. At least 13 different vaccines (across 4 platforms) have been administered.
The Pfizer/BioNtech Comirnaty vaccine was listed for WHO Emergency Use Listing (EUL) on 31 December 2020. The SII/Covishield and AstraZeneca/AZD1222 vaccines (developed by AstraZeneca/Oxford and manufactured by the State Institute of India and SK Bio respectively) were given EUL on 16 February.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>