<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Art/18.jpg' %}" scale="0" width="50%" height="60%">
<div>
  The Acrylic Landscapes Course shows you how to tackle the most common elements that make up a classic landscape painting - skies, trees, water, mountains and textures like rock, wood and stone. Each section starts with simple studies and progresses you through to more challenging examples.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>