<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Art/12.jpg' %}" scale="0" width="50%" height="60%">
<div>
  Daisy Paintings. The simple yet elegant daisy is one of the most recognizable flowers. The daisy is often featured in artwork and will brighten up any room with its natural beauty. We carry a large choice of museum-quality paintings of daisies in fields, vases and the change of seasons.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>