<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Art/13.jpg' %}" scale="0" width="50%" height="60%">
<div>
  Tree Acrylic Painting. On the other hand, acrylic painting of trees works best when the painter wanted to created more imagery. Acrylic is best used for play of colors hence making the tree artwork more vibrant and alive.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>