<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Art/2.jpg' %}" scale="0" width="50%" height="60%">
<div>
    The fleeting beauty of the cherry blossom has been immortalized by Japanese painters for centuries.Pink cherry blossom flowers – light and airy watercolor painting will be a great addition to  interior design.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>