<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Art/7.jpg' %}" scale="0" width="50%" height="60%">
<div>
    Watercolor (American English) or watercolour (British English; see spelling differences), also aquarelle (French, from Italian diminutive of Latin aqua "water"), is a painting method in which the paints are made of pigments suspended in a water-based solution. Watercolor refers to both the medium and the resulting artwork.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>