<head>
    <style>
    div {
        padding: 70px;
        border: 1px solid #4c9baf;
      }
    </style>
</head>
{% load static %}
<body>
<center>
<img src="{% static 'Art/9.jpg' %}" scale="0" width="50%" height="60%">
<div>
  Acrylic fabric is lightweight, warm, and soft to the touch. It is thus used in place of wool or blended with sheep wool or cashmere. Common end products of acrylic fabric include sweaters, hats, socks, and knitting yarn. Like polyester and nylon, acrylic fabric is hydrophobic – meaning it repels water.
</div>
</center>
<h3> Number of times visited: {{views_no}}</h3>
</body>