<head>
    <title>
      Home 
    </title>
    {% if messages %}
    {% for message in messages %}
  
    <script>
      alert("{{ message }}");
    </script>
  
    {% endfor %}
    {% endif %}
  </head>
  <body>
<center>
<form method="POST">{% csrf_token %}
    <select name = "topic_id">
        <option value="News">News</option>
        <option value="Covid_Resources">Covid Resources</option>
        <option value="Cinema">Cinema</option>
        <option value="Sports">Sports</option>
        <option value="Education">Education</option>
        <option value="Mental_Health">Mental Health</option>
        <option value="Art">Art</option>
        <option value="Technology">Technology</option>
    </select>
<input type="submit"  value="View Details" />
    </form>
    <h3> Top user interests</h3>
    <ul>
      <li>News</li>
      <l1> Sports</l1>
    </ul>
  </body>
</center>
</head>